
	body
		{background-color: gray;}
		
	header{ background-color: black;}

	nav ul li {text-align: center; text-decoration: none; font-family: 'Josefin Sans' ;}

	a {text-decoration: none;}

	article {padding-left: 30px;}

	section, h2,h3, footer {font-family: 'Abel'; }
		
	h1 {text-align: center; color:#39B7CD; font-family: 'Josefin Sans' ;}

	h2, h3{color:#FFF; }
		
	date {color:#39B7CD;}
			
	footer{text-align: center; margin-top: 20px; clear: both;}

	.wrapper ul li {list-style-type: circle;}

	.wrapper {width:80%; margin: 0 auto; display:flex; flex-direction:column; }

	/* name indicator styles */
	.centertext {text-align: center;}


	

