
	body
		{background-color: gray;}
		
	header{background-color: black;}
		
	h1 {text-align: center; color:#39B7CD;}
		
	date {color:#39B7CD;}
		
	h2, h3{color:#FFF; }
		
	footer{text-align: center; margin-top: 20px; clear: both;}

	nav ul li {text-align: center; text-decoration: none;}

	.wrapper ul li {list-style-type: circle;}
}

	article {padding-left: 30px;}

